---
import Button from "./Button.astro"

const { class: className, id: id } = Astro.props
---

<!-- <i
  class="fa-solid fa-bars bg-red-700 absolute text-white z-[10000000] text-2xl right-6 top-6 transition-right duration-400 ease-in"
></i> -->
<Button
  isMobileNavToggleButton={true}
  id="mobile_nav_toggle_btn"
>
  <i class="fa-solid fa-bars"></i>
</Button>
