---
const {
  class: className,
  id,
  accordianItemTitle,
  accordianItemText,
  accordianItemIcon,
} = Astro.props
---

<details
  class={`accordion-item bg-[var(--accordion-item-bg-color)] h-fit min-w-[250px] w-full px-3 py-3 border-b-2 border-white
    first:rounded-t-md last:rounded-b-md md:max-w-[300px]
  `}
>
  <summary
    class="accordion-item-header flex items-center justify-between gap-4 cursor-pointer text-lg text-white"
  >
    <h3 class="text-xl">{accordianItemTitle}</h3>
    <i class={`${accordianItemIcon} fa-lg`}></i>
  </summary>

  <div class="accordian-item-content">
    <p
      class="accordian-item-description-text text-wrap bg-transparent w-full h-fit my-4 leading-6 text-white text-xl"
    >
      {accordianItemText}
    </p>
  </div>
</details>
