---
import Button from "../button/Button.astro"
const { class: className, id: id, buttons = [] } = Astro.props
---

<div class="dashboard-controls-container flex gap-4 mt-3 flex-wrap">
  {
    buttons.map((button) => (
      <Button
        class={button.class}
        buttonText={button.buttonText}
        id={button.id}
        isDashboardControlButton={button.isDashboardControlButton}
      />
    ))
  }
</div>

<script>
  import { logOutUser } from "../../../js/utils/supabase_methods"
  const dashboardControlsContainer = document.querySelector(
    ".dashboard-controls-container",
  )

  dashboardControlsContainer?.addEventListener("click", (e) =>
    determineDashboardAction(e),
  )

  function determineDashboardAction(e) {
    console.log(e.target)
    if (e.target.classList.contains("log-out-button")) {
      logOutUser()
    }
  }

  console.log(dashboardControlsContainer)
</script>
