---
const {
  class: className,
  id,
  tabText,
  isBlogPostTab = false,
  isActive = false,
  "data-category": dataCategory,
} = Astro.props
---

<article
  class={`${className} ${
    isActive
      ? "bg-[var(--secondary-text-color)] text-[var(--primary-text-color)]" // Active background
      : "bg-[var(--secondary-text-color)] text-white" // Default background
  } text-center min-w-[50px] w-fit p-2 rounded-full transition-colors duration-300 cursor-pointer`}
  id={id}
  data-category={dataCategory}
>
  <h5>{tabText}</h5>
</article>
