---
import Tab from "./Tab.astro"
import { supabaseClient } from "../../../js/supabase/supabase_client"

const { data: blogPosts, error } = await supabaseClient
  .from("blog_posts")
  .select("post_categories")
---

<div class="flex gap-2">
  {
    blogPosts && blogPosts.length > 0
      ? blogPosts.flatMap((post) =>
          post.post_categories.map((category) => (
            <a href={`/blog-posts?category=${category.toLowerCase()}`}>
              <Tab tabText={category} />
            </a>
          )),
        )
      : "No category"
  }
</div>
