@import "tailwindcss";
@import url('https://fonts.googleapis.com/family=Roboto:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/family=Gabarito:100,200,300,400,500,600,700,800,900');


@theme
{
    /* COLORS */
    --primary-text-color: #fff;
    --secondary-text-color: #f45b35;
    --accordion-item-bg-color: #f45b35;
    --blog-post-card-category-label-bg-color: #f45b35;
    --blog-post-card-button-border-color: #f45b35;

    /* FONTS */
    --headings-font: 'Gabarito', sans-serif;
    --paragraphs-font: 'Roboto', sans-serif;
}

body
{
    font-family: 'Gabarito', sans-serif;
}

/* If you're using a separate CSS file */
.auth-link:first-of-type {
  margin-left: 4rem; /* same as Tailwind's ml-8 */
}