@import "tailwindcss";
@import url('https://fonts.googleapis.com/family=Roboto:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/family=Gabarito:100,200,300,400,500,600,700,800,900');
@plugin '@tailwindcss/typography';

@theme
{
    /* COLORS */
    --primary-text-color: #fff;
    --secondary-text-color: #f45b35;
    --accordion-item-bg-color: #f45b35;
    --blog-post-card-category-label-bg-color: #f45b35;
    --blog-post-card-button-border-color: #f45b35;

    /* FONTS */
    --headings-font: 'Gabarito', sans-serif;
    --paragraphs-font: 'Roboto', sans-serif;
}

html
{
  scroll-behavior: smooth;
}

body
{
    font-family: 'Gabarito', sans-serif;
}

code
{
    font-family: var(--paragraphs-font);
}

/* Target all Expressive Code blocks */
.expressive-code {
  font-size: 4rem;      /* change font size */
 /* change font */

  & .code
  {
    font-size: 20px;
      font-family: 'Gabarito', monospace, sans-serif;
  }
}

/* Hide Card */
.hide-card
{
  display: none;
  opacity: 0;
  transition: opacity .2s ease-in;
}

.first-letter
{
  color: var(--secondary-text-color)
}