---
import Section from "../generals/section/Section.astro"
import AccordianItemsContainer from "../../components/accordian/AccordianItemsContainer.astro"
import AboutInfoSection from "../generals/section/AboutInfoSection.astro"
import {
  fetchAccordianData,
  fetchAboutData,
} from "../../../js/utils/supabase_methods"

const accordianData = await fetchAccordianData()
const aboutData = await fetchAboutData()
---

<Section
  class="about-section w-full flex flex-col md:flex-row md:justify-between md:gap-8"
  id="about_section"
>
  <AboutInfoSection aboutData={aboutData} />
  <div class="flex flex-col gap-4 md:flex-row md:justify-between">
    <AccordianItemsContainer accordianData={accordianData} />
  </div>
</Section>
