---
import Section from "../generals/section/Section.astro"
import AccordianItemsContainer from "../../components/accordian/AccordianItemsContainer.astro"
import AboutInfoSection from "../generals/section/AboutInfoSection.astro"
import {
  fetchAccordianData,
  fetchAboutData,
} from "../../../js/utils/supabase_methods"

const accordianData = await fetchAccordianData()
const aboutData = await fetchAboutData()
---

<Section
  class="about-section mt-8 flex justify-between w-screen"
  id="about_section"
>
  <AboutInfoSection aboutData={aboutData} />
  <AccordianItemsContainer class="w-full" accordianData={accordianData} />
</Section>
