---
const { accordionItems } = Astro.props

import Section from "../generals/section/Section.astro"
import AccordianItemsContainer from "../../components/accordian/AccordianItemsContainer.astro"

import { fetchAccordianData } from "../../../js/utils/supabase_methods"

const accordianData = await fetchAccordianData()

console.log("Props inside AccordionItemsContainer:", Astro.props)
---

<Section class="about-section mt-8" id="about_section">
  <div class="flex flex-col gap-4 md:flex-row md:justify-between">
    <AccordianItemsContainer class="w-full" accordianData={accordianData} />
  </div>
</Section>
