---
import LoginSignUpLayout from "../layouts/LoginSignUpLayout.astro"
import Form from "../components/form/Form.astro"
import Button from "../components/button/Button.astro"
import Dialog from "../components/dialog/Dialog.astro"

const loginFormInputs = [
  {
    type: "text",
    label: "Email",
    name: "email",
    placeholder: "Enter username or e-mail",
    required: true,
  },
  {
    type: "password",
    label: "Password",
    name: "password",
    placeholder: "Enter password",
    required: true,
  },
]
---

<LoginSignUpLayout title="Log in">
  <Form
    id="login_form"
    isFormHeader={true}
    headerText="Log in"
    inputs={loginFormInputs}
    isSubmitButton={true}
    buttonText="Log in"
  />
  <div class="text-center mt-4">
    <h4>
      Not already registered? Register <Button
        href="/register"
        buttonText="here."
      />
    </h4>
  </div>

  <!-- Login Failed Modal -->
  <Dialog
    id="login_failed_modal"
    type="warning"
    headerText="LOGIN FAILED"
    textBlockParagraphText="At least one of the credentials was wrong. Please try again!"
  />

  <!-- Login Succeeded Modal -->
  <Dialog
    id="login_succeeded_modal"
    type="warning"
    headerText="LOGIN SUCCEEDED"
    textBlockParagraphText="Login happened successfully! You will be redirected shortly!"
  />
</LoginSignUpLayout>

<script>
  import { loginUser } from "../../js/utils/supabase_methods"
  const loginForm = document.querySelector("#login_form")
  const failedLoginModal = document.querySelector("#login_failed_modal")
  const succededLoginModal = document.querySelector("#login_succeeded_modal")

  loginForm?.addEventListener("submit", (e) => login(e))

  async function login(e) {
    e.preventDefault()

    const formData = new FormData(loginForm)

    const emailInput = formData.get("email")
    const passwordInput = formData.get("password")

    if (!emailInput || !passwordInput) {
      alert("Both fields must be filled out properly!")
    }

    const loginResult = await loginUser(emailInput, passwordInput)

    if (!loginResult.success) {
      failedLoginModal?.showModal()
      return
    }

    succededLoginModal?.showModal()

    setTimeout(() => {
      location.href = "/blog-posts"
    }, 2000)
  }
</script>
