---
import LoginSignUpLayout from "../layouts/LoginSignUpLayout.astro"
import Form from "../components/form/Form.astro"
import Button from "../components/button/Button.astro"

const signUpFormInputs = [
  {
    type: "text",
    label: "Username/E-mail",
    required: true,
    placeholder: "Please enter username or e-mail",
  },
  {
    type: "password",
    label: "Password",
    required: true,
    placeholder: "Please enter password",
  },
  {
    type: "password",
    label: "Repeat password",
    required: true,
    placeholder: "Please repeat password",
  },
  {
    type: "file",
    label: "Avatar image",
  },
]
---

<LoginSignUpLayout title="Sign up">
  <Form
    isFormHeader={true}
    headerText="Sign up"
    inputs={signUpFormInputs}
    isSubmitButton={true}
    buttonText="Sign up"
  />
  <div class="text-center mt-4">
    <h4>Already a user? Log in <Button href="/login">here.</Button></h4>
  </div>
</LoginSignUpLayout>
