---
const { id, class: iconClass, liked = false, post } = Astro.props
---

<button id={id} class="interaction-btn">
  <i class={iconClass + (liked ? " text-red-500" : "")}></i>
</button>

<script>
  import { likePost } from "../../../js/utils/supabase_methods"

</script>
