---
import DashbboardHeroSection from "../components/generals/section/DashbboardHeroSection.astro"
import Layout from "../layouts/Layout.astro"
import Navigation from "../components/generals/navigation/Navigation.astro"
---

<Layout>
  <div
    class="flex flex-col gap-12 w-screen p-4 mt-12 items-center md:items-start"
  >
    <Navigation isDashboard={true} />
    <slot />
  </div>
</Layout>
