---
import DashbboardHeroSection from "../components/generals/section/DashbboardHeroSection.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <div class="flex flex-col gap-12 p-4 items-center md:items-start">
    <slot />
  </div>
</Layout>