---
const { title, isLandingHero } = Astro.props
import "../styles/global.css"
import Footer from "../components/footer/Footer.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/2a447b40ae.js"
      crossorigin="anonymous"></script>
    <script src="/js/zod.js" defer></script>
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    {
      isLandingHero ? (
        <main class="flex-1">
          <slot />
        </main>
      ) : (
        <main class="flex-1 p-4 md:px-10">
          <slot />
        </main>
      )
    }

    <Footer class="mt-[30px]" />
  </body>
</html>
