---
const { title } = Astro.props
import "../styles/global.css"
const { isLandingHero } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/2a447b40ae.js"
      crossorigin="anonymous"></script>
    <title>{title}</title>
  </head>
  <body class="min-h-screen min-w-screen">
    {
      isLandingHero ? (
        <main>
          <slot />
        </main>
      ) : (
        <main class="p-4 md:px-10">
          <slot />
        </main>
      )
    }
  </body>
</html>
